* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0px;
}

.header, .hero, .footer {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header, .footer {
  padding: 16px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 15px;
}

a {
  text-decoration: none;
}

a.top-link {
  padding: 8px;
  color: #F9FAF8;
}

.hero-main {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.hero-secondary, .right-links {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-left {
  text-align: left;
}

button {
  border: none;
  border-radius: 8px;
  background-color: #3882F6;
  padding: 8px 16px;
  color: #F9FAF8;
}

.main-img {
  width: 50%;
}

.info-header {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  margin-bottom: 32px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

img.infopic {
  width: 200px;
  height: 200px;
  border: 5px solid #3882F6;
  border-radius: 16px;
}

.info {
  max-width: 200px;
}

.quote-section {
  background-color: #E5E7EB;
}

.quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}