html {
  scroll-behavior: smooth;
 }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header, .hero, .footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

a.namelink {
  color: #bc4598;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 160px;
  padding-bottom: 100px;
  padding-left: 10%;
  padding-right: 10%;
  gap: 10%;
}

.hero-left {
  width: 45%;
}

.main-img {
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: auto;
  border: 5px inset #3882F6;
}

.hero-main {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  margin-top: -1px;
  margin-bottom: -16px;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  border: none;
  border-radius: 8px;
  background-color: #3882F6;
  padding: 8px 16px;
  color: #F9FAF8;
  font-weight: bold;
}

.info-section {
  padding-top: 60px;
  padding-bottom: 120px;
}

.info-header {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  text-align: center;
  margin-bottom: 32px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

img.infopic {
  max-width: 200px;
  border: 5px solid #3882F6;
  border-radius: 16px;
}

.info {
  max-width: 200px;
  text-align: center;
}

.quote-section {
  background-color: #E5E7EB;
  flex: display;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20%;
  padding-right: 20%;
}

.quote {
  font-size: 36px;
  font-weight:light;
  font-style: italic;
  color: #1F2937;
  margin-bottom: -5px;
}

.quote-author {
  text-align: right;
  font-weight: bold;
  padding-right: 5%;
}

.call {
  border-radius: 16px;
  background-color: #3882F6;
  margin-left: 10%;
  margin-right:10%;
  margin-top: 80px;
  margin-bottom: 160px;
  color: #F9FAF8;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.call-action {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  padding-left: 10%;
}

.call-text {
  margin-bottom: -15px;
}

.call-butt {
  display: flex;
  justify-content: center;
  width: 40%;
}

button.bottom-butt {
  border: 2px solid #F9FAF8;
  align-self:center;
  flex-basis: auto;
}

.footer {
  color: #F9FAF8;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}